.fullDiv {
    width: 100%;
    margin: auto;
    padding: 5vh;
    
}

.mainForm1 {
    display: flex;
    padding: 1vw 3vw;
    border: 1px solid grey;
    
}

.left {
    width: 50%;
    /* background-color: red; */
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    padding:4vh 3vh 
}
.name{
    /* background-color: pink; */
    padding:2vh
}
.name label{
   font-weight: 500;
}

.name input{
    width:100%;
    height: 4vh;
    padding:3vh 0vh;
    margin-top: 5px;
    border: 1px solid rgb(245,245,250);
    background-color: rgb(245,245,250);
    border-radius: 3px;
}

.type{
    /* background-color: pink; */
    padding:2vh
}
.type label{
   font-weight: 500;
}

.type select{
    width:100%;
    height:7vh;
    padding:1vh 0vh;
    margin-top: 5px;
    border: 1px solid rgb(245,245,250);
    background-color: rgb(245,245,250);
    border-radius: 3px;
}



.date{
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    padding:2vh
}
.date div label{
    font-weight: 500;
}
.date div{
    width: 49%;
}

.date div input{
    width :99%;
    height: 4vh;
    padding:3vh 0vh;
    margin-top: 5px;
    border: 1px solid rgb(245,245,250);
    background-color: rgb(245,245,250);
    border-radius: 3px;
}


.primary {
    display: flex;
    padding: 0vh 1vw;
    justify-content: space-between;
    align-items: center;
}
.primary>div>p {
    color: black;
    font-weight: 600;
    font-size: 3vh;

}
.right {
    padding:5vh 3vh;
    width: 50%;
    /* background-color: yellow; */
    /* border: 1px solid black; */

}
.right p{
    font-weight: 500;
}
/* .horizon{
    display: none;
} */


@media (max-width:600px) {
    .mainForm1 {
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 100%;
        /* background-color: red; */
        /* border: 1px solid green; */
        display: flex;
        flex-direction: column;
        padding:4vh 3vh 
    }
    .right {
        padding:5vh 3vh;
        width: 100%;
        /* background-color: yellow; */
        /* border: 1px solid black; */
    
    }
    .horizon{
        display: block;
    }
    
}
